@model Yummy.Models.Recipe

@{
    ViewData["Title"] = "Delete Recipe";
}

<h1>Delete Recipe</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ID" />
        <button type="submit">Delete</button>
    </form>
</div>

<a asp-action="Index">Back to List</a>